
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="images/Cafetto.png"> -->
    <title>Caffeto/Eat healthy,live more</title>
    <link rel="icon" type="image/x-icon" href="images/Cafetto.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
   
</head>

<body>
    <div  class="container" >

        <!-- header starts  -->
        <header >
             <div  class="row" >
                <div class="col-lg-4 col-md-12"  >                    
                
                </div> 
                    <nav   class="navbar navbar-expand-sm navbar-light bg-light">
                        <div style="float: left;" class="container">
                        
                    <nav style="text-align: left;"  class="topnav" id="myTopnav">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                    <i class="fa fa-bars fa-2x"></i>
                              
                                </a>
                            </li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#about-us">About us</a></li>
                            <li><a href="#menu-section">Food Menu</a></li>
                            <li><a href="#contact-section">Contact</a></li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
      
        </header>
        <!-- header ends  -->

        <!-- banner starts here  -->
        <main>
            <section id="banner-section">
                   <div style="text-align: center;"  class="logo-div">
                         <a href="#"><img src="images/Cafetto.png" style="height: 120px;width: 120px;margin-top: 50px;"></a>
                   </div>     
                <div class="banner-contents">
                    <p1>Opening Soon</p1>
                    <p>On a mission to serve Hygienic food of Pakistan</p>
                    <button class="btn" id="orderButton" >Order Now </button>
                </div>
            </section>

            <section id="about-us">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us-contents">
                            <h3>About us</h3>
                            <p>TheFoodMenus provide detailed and accurate information on restaurants and
                                <p> fast food menu and prices, coupons and exciting offers to help you make better buying decisions when you want to eat </p>
                                <!-- <br> -->
                               <P> You get to find and read interesting restaurants review on our </p>
                                <!-- <br> -->
                                <P> Our reviews are curated to influence your buying decisions as a customer.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner ends here  -->

            <!-- food menu starts here  -->
        
            
    <section  id="menu-section"> 
          <div  class="row">
                    <div  class="col-lg-2 col-md-4 col-sm-12">
                        <div  class="card">
                            <div class="card-body">
                                <a href="images/Appetizers.jpg" target="_blank"><img src="images/Appetizers.jpg" alt="food1" ></a>
                                <div style=" height: 290px;" class="item-desc">
                                    <h3 class="item-name">Appetizers</h3>    
                                   <p>HOT& SPICY WINGS</p>
                                   <p>SHASHLIK STICKS with hot sauce</p>
                                   <p>CHICKEN NUGGETS</p> 
                                   <p>CHEESE FIELD PARI PARI BITES</p>
                                    <p>DHAKA CHICKE </p>
                                </div> 
                             </div>
                        </div>
                    </div>
                     <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                               <a href="images/sanswiches.jpg" target="_blank"><img src="images/sanswiches.jpg" alt="food1"></a> 
                                <div style=" height: 300px;" class="item-desc">
                                    <h3 class="item-name">Sanswiches</h3>
                                     <p>GRILLED CHICKEN SANDWICH</p>
                                     <p>CHEESE STEAK SANDWICH</p>
                                     <p>SMOKE CHICKEN SANDWICH</p> 
                                     <p>BBQ SANDWICH</p> 
                                     <p>PANNINI SANDWICH</p> 
                                     <p>GRILLED CHICKEN SPICY</p> 
                                </div>
                            </div>
                        </div>
                    </div> 
                       <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card"> 
                             <div class="card-body">
                               <a href="images/pizza.gif" target="_blank"><img src="images/pizza.gif" alt="food1"> </a>
                                 <div style=" height: 260px;" class="item-desc">
                                    <h3 class="item-name">Pizza</h3>
                            <p>CAFETTO CHEFF SPECIAL PIZZA</p>        
                            <p>CHICKEN FAJITA PIZZA</p> 
                            <p>CHICKEN TIKKA PIZZA</p> 
                             <p>CHICKEN WITH MUSHROOM PIZZA</p> 
                             <p>PEPPERONI PIZZA</p> 
                                </div>
                            </div>
                        </div>
                    </div> 
                     <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                 <a href="images/pasta.jpg" target="_blank"><img src="images/pasta.jpg" alt="food1"></a>
                                <div  style=" height: 300px;" class="item-desc">
                                    <h3 class="item-name">Pasta</h3>
                                    <p>PENNI PASTA</p>
                                    <P>ALFREDO PASTA</P>
                                    <P>SPACIAL ITALIANO PASTA</P>    
                                 </div>
                            </div>
                        </div>
                    </div> 

                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                 <a href="images/finger fish.jpg" target="_blank"><img src="images/finger fish.jpg" alt="food1"></a>
                                <div  style=" height: 280px;" class="item-desc">
                                    <h3 class="item-name">Sea Food Cafetto  Speciality</h3>
                                    <p>FINGER FISH</p>
                                    <P>GRILLED FISH</P>
                                    <P>HOT & SPICY PROWNS</P>
                                    <P>LAHORI SPECIAL FRIED FISH </P>
                                 </div>
                            </div>
                        </div>
                    </div> 

                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card"> 
                             <div class="card-body">
                               <a href="images/chicken soup.jpg" target="_blank"><img src="images/chicken soup.jpg" alt="food1"> </a>
                                 <div style=" height: 280px;" class="item-desc">
                                    <h3 class="item-name">Varity of Soupe & Salads </h3> 
                                   <P>ROASTED GARLIC TOMATO SOUP</P>
                                    <P>CREAM OF CHICKEN SOUP</P> 
                                    <P>CHICKEN CLEAR SOUP WITH GRALIC BREAD</P>
                                    <P>CHICKEN CORN SOUP</P>  
                                </div>
                            </div>
                        </div>
                    </div>           
            </section> 


            <section>
                <div  class="row">

                <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card"> 
                             <div class="card-body">
                               <a href="images/salads.jpg" target="_blank"><img src="images/salads.jpg"  alt="food1" ></a>
                                <div style= "height: 365px;"  class="item-desc">
                                    <h3 class="item-name">Salads</h3> 
                                    <P>CHICKEN APPALE SALAD WITH PINEAPPLE SAUCE</P>
                                    <P>FRESH FRUIT SALAD</P>
                                    <P>FRESH VEGETABLE SALAD WITH HOT SAUCEL</P>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card"> 
                             <div class="card-body">
                               <a href="images/GARLIC MAYO FRIES.jpg" target="_blank"><img src="images/GARLIC MAYO FRIES.jpg"  alt="food1" ></a>
                                <div style= "height: 350px;"  class="item-desc">
                                    <h3 class="item-name">Cafetto Special Fries</h3> 
                                    <P>CHICKEN CHEESE FRIES WITH JALAPENO</P>
                                    <P>MASALA FRIES WITH PLUM SAUCE</P>
                                    <P>GARLIC MAYO FRIES</P>
                                    <P>PLAIN FRIES WITH TOBASCO SAUCE</P>  
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-2 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                 <a href="images/CHICKEN JALFREZI.jpg" target="_blank"><img src="images/chicken.jpg" alt="food1"></a>
                                <div style="height:380px;" class="item-desc">
                                    <h3  class="item-name">Cafetto Asian Fusion</h3>   
                                  <p>CHICKEN JALFREZI</p> 
                                  <p>CHICKEN GINJER</p> 
                                  <p>GRAVY CHICKEN</p> 
                                  <p>BLACK PERREP CHICKEN</p> 
                                  <p>CHICKEN GRAVY KABAB</p> 
                                  <p>CHICKEN BEHARI KABAB</p> 
                                  <p>CHICKEN BONLESS TIKKA</p> 
                                  <p> CHICKEN TIKK </p>     
                                 </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-2  col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                               <a href="images/PLAIN NAN.jpg" target="_blank"><img src="images/PLAIN NAN.jpg" alt="food1"></a> 
                                <div style=" height: 370px;" class="item-desc">
                                    <h3 class="item-name">Special Nan</h3>
                                    <P>KALAVANJI NAN</P>
                                    <P>ROGHNI NAN</P>
                                    <P>CHICKEN WITH CHEESE NAN WITH GRALIC MAYO</P>   
                                     <p>NUTELLA NAN</p>
                                      <p>PLAIN NAN</p>
                                </div>
                            </div>
                        </div>
                    </div>          
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <div  class="card">
                            <div class="card-body">
                               <a href="images/CADBURY BROWNIE WITH ICE CREAM.jpg"  target="_blank" ><img src="images/CADBURY BROWNIE WITH ICE CREAM.jpg" alt="food1"></a> 
                                <div style="height: 370px;" class="item-desc">
                                    <h3 class="item-name"> Blessed Friday Desert</h3>
                                    <P>FRIDAY BROWNIE WITH ICE CREAM</P>
                                    <P>CADBURY BROWNIE WITH ICE CREAME</P>
                                    <P>BIRHTDAY CAKE ON ORDER</P>
                                </div>
                            </div>
                        </div> 
                     </div> 
                 <div class="col-lg-2 col-md-4 col-sm-12">
                    <div  class="card">
                        <div class="card-body">
                           <a href="images/hot cup chocolate.jpg"  target="_blank" ><img src="images/hot cup chocolate.jpg" alt="food1"></a> 
                            <div style="height: 370px;" class="item-desc">
                                <h3 class="item-name">Cafetto Bevrages Speciality</h3>
                                <P>CAPPUCCINO</P>
                                <P>CAFE LATTEE</P>
                                <P>CARMEL LATTEE</P>
                                <P>WHITE MOCHA</P>
                                <p>CAFE MOCHA</p>
                                <p>COOKIES AND CREAM HOT CHOCOLATE</p>
                                <p>VANILLA HOT CHOCOLATE</p>
                                <p>GOLDEN  MILK WITH CARMEL SAUCE </p>
                            </div>
                        </div>
                    </div> 
                 </div> 
    </div>
      </section>



      <section  id="menu-section"> 
          <div  class="row">
              <div  class="col-lg-2 col-md-4 col-sm-12">
               <div  class="card">
                   <div class="card-body">
                       <a href="images/lemon green tea.jpg" target="_blank"><img src="images/lemon green tea.jpg" alt="food1" ></a>
                       <div style=" height: 220px;" class="item-desc">
                           <h3 class="item-name">Cafetto Special teas</h3>   
                           <p> MIX TEA</p> 
                           <P>LEMON GRASS GREEN TEA</P> 
                           <P>MORROCON MINT GREEN TEA/JASMIN GREEN TEA</P>
                       </div> 
                    </div>
                  </div>
               </div>
            <div class="col-lg-2 col-md-4 col-sm-12">
                <div class="card">
                <div class="card-body">
                   <a href="images/icecream.jpg" target="_blank"><img src="images/icecream.jpg" alt="food1"></a> 
                    <div style=" height: 230px;" class="item-desc">
                        <h3 class="item-name">Cafetto  Special Cold Coffee</h3>
                        <P>COOKIES AND CREAM COLD COFFEE</P>
                        <P>VERY VANILA COLD COFFEE</P>
                        <P>CARMEL CRUNCH COLD COFFEE</P>      
                    </div>
                </div>
            </div>
           </div> 
           <div class="col-lg-2 col-md-4 col-sm-12">
            <div class="card"> 
                 <div class="card-body">
                   <a href="images/milk sake.jpg" target="_blank"><img src="images/milk sake.jpg" alt="food1"> </a>
                     <div style=" height: 210px;" class="item-desc">
                        <h3 class="item-name">Chillers</h3>
                       <P> PECH CHILLLER</P>
                       <P>GREEN APPLE CHILLER</P>
                       <P>STRAWBERY CHILLER</P>
                       <p>MANGO CHILLER</p>
                       <p>MINT MARGRIT</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12">
            <div class="card"> 
                 <div class="card-body">
                   <a href="images/MANGO SMOTHI.jpg" target="_blank"><img src="images/MANGO SMOTHI.jpg" alt="food1"> </a>
                     <div style=" height: 230px;" class="item-desc">
                        <h3 class="item-name">Smoothies</h3>
                       <P>CHOCOLATE & COCONUT BOUNTY SMOTHIE</P>
                       <P>PEACH SMOTHIE</P>
                       <P>STRAWBERY SMOTHIE</P>
                       <p>MANGO SMOTHIE</p>
                        <P>PINAPPLE SMOTHIE</P>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-2 col-md-4 col-sm-12">
            <div class="card"> 
                 <div class="card-body">
                   <a href="images/drink.jpg" target="_blank"><img src="images/drink.jpg" alt="food1"> </a>
                     <div style=" height: 230px;" class="item-desc">
                        <h3 class="item-name">Soft Drinks</h3>
                       <P>COKE</P>
                       <P>SPRITE</P>
                       <P>FANTA</P>
                       <p>PLAIN WATER</p>
                    </div>
                </div>
            </div>
        </div>     
  <!-- </div> -->
</section>
            <!-- food menu ends here  -->

            <!-- contact starts here  -->
            <section id="contact-section">
                <div class="row">
                    <div class="col-lg-8">
                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27229.076734698672!2d74.2936701!3d31.4517252!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190143e0e99feb%3A0xf39379efff4dd86!2sUniversity%20of%20Management%20%26%20Technology!5e0!3m2!1sen!2s!4v1636361966802!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">"
                            </iframe>
                          </div>
                    <div class="col-lg-4">
                        <div class="contact-details">
                            <h3>Contact Details</h3> <br>

                            <div>
                                <h5>Cafetto</h5>
                                <address>
                                   UMT Road, Johar Town Lahore
                                </address> <br>
                            </div>

                            <div>
                                <h5>Phone : </h5>
                                <p>+92-3241475770</p><br>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact ends here  -->
        </main>

        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; All right reserved by Cafetto</p>
                </div>
                <div class="col-lg-6">
                    <div class="social-menus">
                        <a href="#"><i class="icon-style fas fa-arrow-up"></i></a>
                        <a href="https:/www.facebook.com/Cafetto-102664568865406/" target="_blank"><i class="icon-style fab fa-facebook-f"></i></a>
                        <a href="https:/www.instagram.com/Cafetto.pk?utm_medium=copy_link" target="_blank"><i class="icon-style  fab fa-instagram"></i></a>

                    </div>
                </div>
            </div>
        </footer>

    </div>


    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

</html>